#medium_editor_container {
   width: 900px;
}

#email_body_container {
   border: 1px solid black;
   height: 350px;
   width: 100%;
}
#email_body_container textarea {
   width: 100%;
   height: 350px;
}

#email_body {
   width: 100%;
   height: 350px;
}
